raw/
raw_apps/
raw_imps_bank/
raw_mcc/
raw_p2m/
raw_psp/
raw_statewise/
raw_top50_vol_val/
upi-ecosystem/
all_data.json
all_apps.json
all_imps_bank.json
all_mcc.json
all_p2m.json
all_psp.json
all_statewise.json
all_top50_vol_val.json
upi_app_stats.csv
upi_bank_stats.csv
imps_bank_stats.csv
upi_mcc_stats.csv
upi_p2m_stats.csv
upi_psp_stats.csv
upi_statewise_stats.csv
upi_top50_vol_val_stats.csv
__pycache__/
venv/
